@use '@styles/variables' as *;

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.4em;

    & input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
    }

    & .slider {
        position: absolute;
        cursor: pointer;
        inset: 0;
        background-color: $white-color;
        border: 1px solid $gray-400-color;
        transition: .4s;
        border-radius: 30px;
    }

    & .slider:before {
        position: absolute;
        content: "";
        height: 1em;
        width: 1em;
        border-radius: 20px;
        left: 0.2em;
        bottom: 0.14em;
        background-color: $blue-100-color;
        transition: .4s;
    }

    & input:checked + .slider {
        background-color: $light-primary-color;
        border: 1px solid $light-primary-color;
    }

    & input:focus + .slider {
        box-shadow: 0 0 1px $light-primary-color;
    }

    & input:checked + .slider:before {
        transform: translateX(1em);
        background-color: $white-color;
    }
}
